.house {
    color: blue;
    font-size: 20pt;
}
.hotel {
    color: red;
    font-size: 24pt;
}
.noHouses {
    color: gray;
    font-size: 20pt;
}
.buildingButton {
    border: none;
    background: none;
}
.buildingUnselected {
    text-decoration: none;
}
.buildingSelected {
    text-decoration: underline;
}
.hint {
    color: gray;
    font-style: italic;
}
